<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyDeobf</title>
    <meta name="author" content="d33znu75">
    <meta name="keywords" content="python, deobfuscator, obfuscator, pyobfuscate, pyfuscator, pyobfuscator, lambda hex">
    <meta name="description" content="An online python deobfuscator">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs/loader.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="title">PyDeobf</div>
        <div class="subtitle">an online python deobfuscator</div>
    </div>
        <div class="checkbox-container">
        <ul class="ks-cboxtags">
            <li class="ks-selected">
                <input type="checkbox" id="checkboxAuto" name="option" value="auto" onclick="toggleCheckbox(this)" checked>
                <label for="checkboxAuto">Auto &#x1F50E;</label>
            </li>
            <li class="divider">|</li>
            <li>
                <input type="checkbox" id="checkboxPyObfuscate" name="option" value="option1" onclick="toggleCheckbox(this)">
                <label for="checkboxPyObfuscate">PyObfuscate</label>
            </li>
            <li>
                <input type="checkbox" id="checkboxBase64Zlib" name="option" value="option2" onclick="toggleCheckbox(this)">
                <label for="checkboxBase64Zlib">Base64+Zlib</label>
            </li>
            <li>
                <input type="checkbox" id="checkboxPyfuscator" name="option" value="option3" onclick="toggleCheckbox(this)">
                <label for="checkboxPyfuscator">Pyfuscator</label>
            </li>
            <li>
                <input type="checkbox" id="checkboxPyObfuscator" name="option" value="option4" onclick="toggleCheckbox(this)">
                <label for="checkboxPyObfuscator">PyObfuscator</label>
            </li>
            <li>
                <input type="checkbox" id="checkboxPyFuscater" name="option" value="option5" onclick="toggleCheckbox(this)">
                <label for="checkboxPyFuscater">Py-Fuscate</label>
            </li>
            <li>
                <input type="checkbox" id="checkboxPyObfusinator" name="option" value="option6" onclick="toggleCheckbox(this)">
                <label for="checkboxPyObfusinator">PyObfusinator</label>
            </li>
            <!-- <li>
                <input type="checkbox" id="checkboxLambdaHex" name="option" value="option1" onclick="toggleCheckbox(this)">
                <label for="checkboxLambdaHex">Lambda Hex <span style="font-size: 12px; color: #b42121;">Work in Progress</span></label>
            </li> -->
        </ul>
    </div>
    <div class="container">
        <div class="button-container">
            <button class="clear" onclick="clearEditors()">
                <span>Clear&nbsp;</span>
                <i class="fa-solid fa-trash"></i>
            </button>
            <button class="deobf" onclick="deobfuscate()">
                <span> Deobfuscate&nbsp;</span>
                <i class="fa-solid fa-play"></i>
            </button>
            <button class="copy" onclick="copyToClipboard()">
                <span>Copy&nbsp;</span>
                <i class="fa-solid fa-copy"></i>
            </button>
        </div>
        <div class="copy-message" id="copyMessage">Output has been copied to clipboard</div>
        <div class="editor-container">
            <div id="inputEditor" class="editor"></div>
            <div id="outputEditor" class="editor"></div>
        </div>
    </div>
        <footer>
        <!-- <div class="footer-left">
            <a href="wibsite.hh" target="_blank">hh machi db</a>
        </div> -->
        <div class="footer-right">
            by <a href="https://github.com/d33znu75" target="_blank">d33znu75</a>
        </div>
    </footer>
    <script>
        require.config({ paths: { 'vs': 'https://cdnjs.cloudflare.com/ajax/libs/monaco-editor/0.33.0/min/vs' } });
        require(['vs/editor/editor.main'], function () {
            window.inputEditor = monaco.editor.create(document.getElementById('inputEditor'), {
                value: '# Enter obfuscated code here\n',
                language: 'python',
                theme: 'vs-dark',
                automaticLayout: true,
                wordWrap: 'on'
            });
            window.outputEditor = monaco.editor.create(document.getElementById('outputEditor'), {
                value: '# Deobfuscated output will appear here\n',
                language: 'python',
                theme: 'vs-dark',
                readOnly: true,
                automaticLayout: true,
                wordWrap: 'on'
            });
        });

        async function deobfuscate() {
            const inputText = window.inputEditor.getValue();
            const selectedOption = document.querySelector('input[name="option"]:checked');
            const optionValue = selectedOption ? selectedOption.value : '';
        
            const response = await fetch('/deobf', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: `input_text=${encodeURIComponent(inputText)}&option=${encodeURIComponent(optionValue)}`
            });
        
            const encodedText = await response.text();
            window.outputEditor.setValue(encodedText);
        }
        function toggleCheckbox(selectedCheckbox) {
            const checkboxes = document.getElementsByName('option');
            checkboxes.forEach((checkbox) => {
                if (checkbox !== selectedCheckbox) {
                    checkbox.checked = false;
                }
            });
        }
        function copyToClipboard() {
            const outputText = window.outputEditor.getValue();
            navigator.clipboard.writeText(outputText).then(() => {
                const copyMessage = document.getElementById('copyMessage');
                copyMessage.style.display = 'block';
                setTimeout(() => {
                    copyMessage.style.display = 'none';
                }, 3000);
            });
        }
        function clearEditors() {
            window.inputEditor.setValue('');
            window.outputEditor.setValue('');
        }
    </script>
</body>
</html>
